extends layout

block content

    div#map_canvas

    div#selected-trains
        h2 Find train

        div#controls

            form(method="post", action="/train")
                p
                    label(for="code") Code:
                    input(type="text", name="code", id="code")

                    input(type="submit", id="submit", value="Find")
                    input(type="submit", id="add-train", disabled="disabled", value="Add")

                    input(type="hidden", name="selected-train", id="selected-train", value="")
                div(class="status-box hidden")

            h2 Train info

            div#train-info
                    table
                        tr
                            td.first Train id
                            td#train-id-col

                        tr
                            td Speed
                            td#train-speed-col

                        tr
                            td Late (in seconds)
                            td#train-lateness-col

                        tr
                            td From
                            td#train-from-col

                        tr
                            td To
                            td#train-to-col

            h2 Selected trains

            ul


